@font-face {
  font-family: 'Montserrat';
  src: url(../static/assets//fonts/Montserrat/Montserrat-Medium.woff2) format('woff2'),
      url(../static/assets//fonts/Montserrat/Montserrat-Medium.woff2) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../static/assets//fonts/Montserrat/Montserrat-Regular.woff2) format('woff2'),
      url(../static/assets//fonts/Montserrat/Montserrat-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iCiel Gotham';
  src: url(../static/assets//fonts/iCielGotham/iCielGotham-Ultra.woff2) format('woff2'),
      url(../static/assets//fonts/iCielGotham/iCielGotham-Ultra.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../static/assets//fonts/Montserrat/Montserrat-Bold.woff2) format('woff2'),
      url(../static/assets//fonts/Montserrat/Montserrat-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
  background-color: #990000;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-family: 'Montserrat';
  font-weight: 500;
  text-align: center;
}

h1 {
  font-family: 'iCiel Gotham';
}
  
#brand{
  display: flex;
  filter: drop-shadow(2px 4px 6px black);
}

.containerForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 666px){
  #indexBg{
    background: linear-gradient(
      179deg
      , #ffcc66 19%, #990000 29%)
  }

  .wideScreen{
    display: none;
  }
}
@media screen and (max-width: 666px){
  .tiems{
    flex: 0 0 80%;
  }

  #gd1Container{
    display: flex;
    flex-direction: column;
  }

  #gd1Text{
    margin-top: 10px;
  }

  #gd1Button{
    
  }

  #imgToolLg{
    display: none;
  }
}

@media screen and (min-width: 666px){

  
  #indexBg{
    background: linear-gradient(
      180deg
      , #ffcc66 33%, #990000 41%)
  }

  .smallScreen{
    display: none;
  }
  .avaLop{
    font-size: 14px;
  }
  .avaName{
    font-size: 16px;
  }
  .tiems{
    flex: 0 0 46%;
  }

  #gd1Container{
    display: flex;
  }

  #gd1Text{
    flex-grow: 1;
    margin-left: 10px;
  }

  #gd1Button{
    /*display: flex;*/
    width: 50%;
  }

  #imgToolSm{
    display: none;
  }
}

#session{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  
  margin-left: 20px;
  margin-right: 20px;
}

.sessionCard{
  
  box-shadow: 0px 14px 11px 4px #440101
}

@media screen and (max-width: 603px){
  .cardimg{
    padding: 5px;
    width: 100%
  }
  .sessionCard{
    flex: 1 0 1;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

@media screen and (min-width: 603px){
  .cardimg{
    flex: 0 0 50%;
    padding: 5px
  }

  .sessionCard{
    flex: 0 0 32%;
    cursor: pointer;
  }

}


@media screen and (min-width: 875px){
  .cardimg{
    flex: 0 0 33.33333333%;
    padding: 5px
  }
  
  .avaLop{
    font-size: 14px;
  }
  .avaName{
    font-size: 22px;
  }
}

@media screen and (min-width: 1300px){
  .cardimg{
    flex: 0 0 25%;
    padding: 5px
  }
}

.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

.viewCardContainer{
  display: flex;
  max-height: 275px;
  max-width: 750px;
}

.imgCard{
  flex: 0 0 50%;
}

.imgText{
  max-height: 100%;
  
  flex: 0 0 50%;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  display: flex;
}

.sessionImg{
  filter: drop-shadow(1px 16px 4px rgb(6 6 6 / 28%));
}

.viewCard{
  background-image: url("https://i.imgur.com/OmXkYn6.png");
}

#anotherBg{
  
  background: linear-gradient(
    181deg
    , #ff9933 40%, #cf451b);

  position: relative;
  z-index: 0
}

#characterContainer{
  position: relative;
}
.characterE{
  position: absolute;
  width: 100%;
  height: 100%;
}

.disable{
  display: none;
}

.cImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 100%;
  
}

#characterContainerP1{
  display: flex
}

#characterSelect{
  flex-grow: 1;
}

@media screen and (max-width: 555px){

  #characterContainerP1{
    display: flex;
    flex-direction: column;
  }
  #characterContainer{
    width: 100%;
  }

}
@media screen and (min-width: 555px){
  #characterContainer{
    width: 320px;
  }


  #characterContainerP1{
    display: flex;
    flex-direction: row;
  }
  
  #characterSelect{
    flex-grow: 1;
  }
}


@media screen and (max-width: 603px){
  .stage{
    margin: 5px;
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 603px){
  .stage{
    flex: 0 0 29%;
    margin: 5px
  }
}

#navLeft:hover{
  background: linear-gradient(90deg, #000000ea, transparent);
}

#navRight:hover{
  background: linear-gradient(270deg, #000000ea, transparent);
}

.Gcontainer {  
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "item1"
    "item2"
    "item3"; 
  height: 100%;
}

.Gitem1 { grid-area: item1; }

.Gitem2 { grid-area: item2; }

.Gitem3 { grid-area: item3; }
